.layer ul {
    color: black;
    padding: 4px 4px 10px 4px;
    font-size: 12px;
}

.layer .title {
    font-weight: bold;		
}

.layer ul.feature li {
    padding: 5px 0px 5px 0px;
}

.layer ul.feature {
    border-bottom: 1px solid #99B3CC;
}

.layer ul.feature li:nth-child(even) {
    background-color: #C7D7E5;
}

.layer a {
	color: blue;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
