div.logo {
    margin: 10px;
    width: 100%;
    height: 72px;
    color: #482671;
    background: url('img/CTBB_Logo.png') left no-repeat;
    float: left;
}

div.logo h2:after {
	content: "Portal territorial de Castellbisbal";
}