<!DOCTYPE html>
<html>
    <head>
        <title>GeoExplorer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="theme/app/img/favicon.ico">
        <!-- Ext resources -->
        <link rel="stylesheet" type="text/css" href="externals/ext/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="externals/ext/resources/css/xtheme-gray.css">
        <link rel="stylesheet" type="text/css" href="theme/app/info.css">
        <script type="text/javascript" src="externals/ext/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="externals/ext/ext-all.js"></script>
        <!-- proj4js resources -->
        <script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>
        <script type="text/javascript" src="externals/proj4js/lib/defs/EPSG23031.js"></script>
        <% render extrahead %>
    </head>
    <body>
        <% render content %>
    </body>
</html>
