<% extends ./base.html %>
<% subskin extrahead %>
    <link rel="stylesheet" type="text/css" href="theme/app/index.css"/>
    <link rel="stylesheet" type="text/css" href="theme/app/filetype.css"/>
    <script>
        /* i18n */
        //var lang = navigator.language || navigator.userLanguage;
        //lang = lang.split("-")[0].toLowerCase();
        var lang = "ca";
        function _(t) { return (texts[t] && texts[t][lang]) || t; };

        var texts = {
            "No maps found.": {"es": "No se han encontrado mapas.", "ca": "No s'han trobat mapes."},
            "Title": {"es": "Título", "ca": "Títol"},
            "Created": {"es": "Creado", "ca": "Creat"},
            "Modified": {"es": "Modificado", "ca": "Modificat"},
            "View Map": {"es": "Ver Mapa", "ca": "Vés a Mapa"},
            "Edit Map": {"es": "Editar Mapa", "ca": "Edita Mapa"},
            "Delete Map": {"es": "Borrar Mapa", "ca": "Esborra Mapa"},
            "Confirm Deletion": {"es": "Confirme la eliminación", "ca": "Confirmeu l'eliminació"},
            "Are you sure you want to delete this map?": {"es": "¿Está seguro de querer borrar este mapa", "ca": "Esteu segur de voler esborrar aquest mapa?"},
            "Dashboard": {"es": "Panel de Control", "ca": "Panell de Control"},
            "New Map (Web Mercator)": {"es": "Nuevo Mapa (Web Mercator)", "ca": "Nou Mapa (Web Mercator)"},
            "New Map (UTM 31N)": {"es": "Nuevo Mapa (UTM 31N)", "ca": "Nou Mapa (UTM 31N)"},
            "User": {"es": "Usuario", "ca": "Usuari"},
            "Password": {"es": "Contraseña", "ca": "Clau"},
            "Login": {"es": "Login", "ca": "Login"},
            "Invalid username or password.": {"es": "Usuario o contraseña errónea.", "ca": "Usuari o clau errònia."},
            "Document Tree": {"es": "Árbol de Documentos", "ca": "Arbre de documents"},
            "Map Table": {"es": "Tabla de Mapas", "ca": "Taula de mapes"},
            "The Application": {"es": "La Aplicación", "ca": "L'aplicació"},
            "About": {"es": "Acerca de...", "ca": "Quant a..."},
            "How to Browse": {"es": "Cómo Navegar", "ca": "Com Navegar"}
        };
        /* !i18n */
        
        Ext.onReady(function() {
            Ext.QuickTips.init();
            var status = <% status %>;
            if (status === 401) {
                displayLoginLink();
            } else {
                hideLoginLink();
            }
            var mapStore = new Ext.data.JsonStore({
                url: "maps",
                root: "maps",
                fields: [
                    "id", 
                    "title", "abstract", 
                    {name: "created", type: "date", dateFormat: "time"},
                    {name: "modified", type: "date", dateFormat: "time"}
                ],
                autoLoad: true
            });
            
            var mapGrid = new Ext.grid.GridPanel({
                id: 'maps',
                autoHeight: true,
                store: mapStore,
                singleSelect: true,
                enableHdMenu: false,
                autoExpandColumn: "title",
                viewConfig: {
                    forceFit: true,
                    emptyText: _("No maps found.")
                },
                columns: [
                /*{
                    header: "ID",
                    dataIndex: "id",
                    width: 40,
                    fixed: true,
                    sortable: true,
                    align: "center"
                },*/ {
                    id: "title",
                    header: _("Title"),
                    align: "left",
                    width: 300,
                    dataIndex: "title",
                    sortable: true
                }, {
                    header: _("Created"),
                    dataIndex: "created",
                    width: 90,
                    xtype: "datecolumn",
                    format: 'Y/m/d',
                    sortable: true,
                    align: "center"
                }, {
                    header: _("Modified"),
                    dataIndex: "modified",
                    width: 90,
                    xtype: "datecolumn",
                    format: 'Y/m/d',
                    sortable: true,
                    align: "center"
                }, {
                    xtype: "actioncolumn",
                    width: 30,
                    iconCls: "icon-viewmap",
                    tooltip: _("View Map"),
                    align: "center",
                    handler: function(grid, rowIndex, colIndex) {
                        var id = mapStore.getAt(rowIndex).get("id");
                        window.open("gdviewer#maps/" + id);
                    }
                }, {
                    xtype: "actioncolumn",
                    id: "editcolumn",
                    hidden: (status === 401),
                    width: 30,
                    iconCls: "icon-editmap",
                    tooltip: _("Edit Map"),
                    handler: function(grid, rowIndex, colIndex) {
                        var id = mapStore.getAt(rowIndex).get("id");
                        window.open("composer#maps/" + id);
                    }
                }, {
                    xtype: "actioncolumn",
                    id: "removecolumn",
                    hidden: (status === 401),
                    width: 30,
                    iconCls: "icon-removemap",
                    tooltip: _("Delete Map"),
                    handler: function(grid, rowIndex, colIndex) {
                        var rec = mapStore.getAt(rowIndex);
                        var id = rec.get("id");
                        Ext.Msg.show({
                            title: _("Confirm Deletion"),
                            msg: _("Are you sure you want to delete this map?"),
                            buttons: Ext.Msg.YESNO,
                            fn: function(button) {
                                if (button === "yes") {
                                    Ext.Ajax.request({
                                        method: "DELETE",
                                        url: "maps/" + id,
                                        success: function() {
                                            mapStore.reload();
                                        },
                                        failure: function() {
                                            // TODO: failure handling
                                        }
                                    });
                                }
                            },
                            icon: Ext.MessageBox.QUESTION
                        });
                    }
                }],
                buttons: [{
                    text: _("Dashboard"),
                    id: "dashboard-button",
                    iconCls: "dashboard",
                    handler: function() {
                        window.open("/dashboard/");
                    },
                    hidden: (status === 401)
                },{
                    text: _("New Map (Web Mercator)"),
                    id: "new-map-900913-button",
                    iconCls: "add",
                    handler: function() {
                        window.open("composer#config/900913");
                    },
                    hidden: (status === 401)
                },{
                    text: _("New Map (UTM 31N)"),
                    id: "new-map-23031-button",
                    iconCls: "add",
                    handler: function() {
                        window.open("composer#config/23031");
                    },
                    hidden: (status === 401)
                }]
            });
            
            var docTree = new Ext.tree.TreePanel({
                title: _("Document Tree"),
                region: 'west',
                width: 256,
                minSize: 128,
                maxSize: 512,
                split: true,
                autoScroll: true,
                rootVisible: false,
                lines: false,
                singleExpand: true,
                dataUrl: 'documents.json',
                root: {
                nodeType: 'async',
                    text: 'Arbre de documents'
                }
            });
            new Ext.tree.TreeSorter(docTree, {
                dir: "ASC"
            });
            docTree.getRootNode().expand();
            
            new Ext.Viewport({
                layout: 'border',
                items: [
                    {
                        region: 'north',
                        height: 95,
                        html: '<div class="logo"><h2>Portal territorial</h2></div>'
                    },
                    docTree,
                    {
                        title: _("Map Table"),
                        region: 'center',
                        autoScroll: true,
                        items: [mapGrid]
                    },{
                        title: _("The Application"),
                        layout: 'accordion',
                        region: 'east',
                        width: 320,
                        items: [{
                            title: _("How to Browse"),
                            html: "<iframe style='border: none; height: 100%; width: 100%' src='howto.html' frameborder='0' border='0'><a target='_blank' href='howto.html'>"+this.aboutText+"</a></iframe>"
                        },{
                            title: _("About"),
                            html: "<iframe style='border: none; height: 100%; width: 100%' src='about.html' frameborder='0' border='0'><a target='_blank' href='about.html'>"+this.aboutText+"</a></iframe>"
                        }]
                    },
                    {
                        region: 'south',
                        height: 25,
                        html: '<div class="footnote">Lloc web optimitzat per a <a href="http://www.mozilla.org/en-US/firefox/all" target="blank">Mozilla Firefox</a> i <a href="http://www.google.com/chrome" target="blank">Google Chrome</div>'
                    }
                ]
            });
            
            function displayLoginLink() {
                Ext.fly("login").on({
                    click: function(event, target) {
                        showLoginDialog();
                        event.stopEvent();
                    }
                });
            }
            function hideLoginLink() {
                Ext.fly("login").hide();
            }
            function showLoginDialog() {
                var panel = new Ext.FormPanel({
                    url: "login",
                    frame: true,
                    labelWidth: 60,
                    defaultType: "textfield",
                    items: [{
                        fieldLabel: _("User"),
                        name: "username",
                        allowBlank: false
                    }, {
                        fieldLabel: _("Password"),
                        name: "password",
                        inputType: "password",
                        allowBlank: false
                    }]
                });
                
                var win = new Ext.Window({
                    title: _("Login"),
                    layout: "fit",
                    width: 235,
                    height: 130,
                    plain: true,
                    border: false,
                    modal: true,
                    items: [panel],
                    buttons: [{
                        text: _("Login"),
                        handler: function(button) {
                            var form = panel.getForm();
                            button.disable();
                            submitLogin(
                                form.getValues(), 
                                function success(response) {
                                    var cookie = response.getResponseHeader("Set-Cookie");
                                    if (cookie) {
                                        document.cookie = cookie;
                                    }
                                    hideLoginLink();
                                    var cm = mapGrid.getColumnModel();
                                    cm.setHidden(cm.getIndexById("editcolumn"), false);
                                    cm.setHidden(cm.getIndexById("removecolumn"), false);
                                    Ext.getCmp("new-map-23031-button").show();
                                    Ext.getCmp("new-map-900913-button").show();
                                    Ext.getCmp("dashboard-button").show();
                                    win.close();
                                },
                                function failure(response) {
                                    form.markInvalid({
                                        "username": _("Invalid username or password."),
                                        "password": _("Invalid username or password.")
                                    });
                                    button.enable();
                                }
                            );
                        }
                    }]
                });
                win.show();
            }
            function submitLogin(values, success, failure) {
                Ext.Ajax.request({
                    method: "POST",
                    url: "login",
                    params: values,
                    success: success,
                    failure: failure
                });
            }

            
        });
    </script>

<% subskin content %>
<a id="login" href="login">Login</a>